<div class="landing-page">
    <section class="banner">
        <div class="container">
            <div class="padding-lg"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="jumbotron">
                        <h1 class="">{{appName}}</h1>
                        <br/>
                        <p class="text-italics text-sm">
                            The community for corp members.......
                        </p>
                        <br/>

                        <div class="margin-top-sm">
                            <a class="btn " href="#/login">Login</a>
                            <a href="#signup" class="btn ">Signup</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img ng-src="public/img/corper1.jpg" class="img img-responsive">
                </div>
            </div>
            <div class="padding-lg"></div>
            <div class="padding-lg"></div>
        </div>
    </section>

    <section class="intro text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center padding-lg">
                    <h2 class="padding-sm">About {{appName}}</h2>
                    <p>
                       Corperzwee is a community that consists of both current and 
                        ex-corpers that have come together to help prospective corp members in making good decisions on their arrival at their
                        state of deployment. These ranges from making choices about PPA, getting an apartment best situated closer to accepted PPA,
                       places of worship and other landmarks at their various locations.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <hr/>

    <section class="goals ">
        <div class="container padding-">
            <h2 class="text-center padding-md">Problems being solved</h2>

            <p class="text-center col-md-8 col-md-offset-2">
                Most corp members are posted to places they are not familiar with, leaving them little fact or knowledge on which to make 
                many of the decisions they'll be making such as choosing preferred PPA, accommodation, place of worship, recreation centers, etc.
            </p>
            
            <br/><br/>

            <div class="row text-center padding-md solved-problems">
                <div class="col-md-3 text-center">
                    <div class="bg-grey">
                        <h4>PPA Selection</h4>
                        <p>
                            Helps in accepting a PPA or learning how to survive at a PPA.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div  class="bg-grey"> 
                        <h4>Accommodation</h4>
                        <p>
                            Assists in accomodation selection.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div  class="bg-grey">
                        <h4>Recreational Centres</h4>
                        <p>Find the best recreational center in your location....</p>
                    </div>
                </div>
                 <div class="col-md-3 text-center">
                    <div  class="bg-grey">
                        <h4>Worship Centers</h4>
                        Locate a good worship center in your environment..
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </div>
    </section>

    <section class="how-it-works bg-grey">
        <div class="container padding-lg">
            <h2 class="text-center">How it Works</h2>
            <p class="padding-md text-center">
                Corperzwee helps them make better decisions by providing a community where ex-corpers and serving corpers can give reviews of certain locations in a state. With the reviews and ratings provided, new corp members can choose rightly, or prepare their mind and get tips on how to survive in certain places. For instance, experience with a certain landlord can be checked before deciding to rent an apartment :)
            </p>
            <div class="text-center how-it-works-steps row">
                <div class="col-md-4 text-center">
                    <div>
                        <div class="number"><span>1</span></div>
                        <h4>Sign Up</h4>
                        <p>
                            Join the community with your social accounts.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div>
                        <div class="number"><span>2</span></div>
                        <h4>Search for places</h4>
                        <p>
                            Search for places nearest to you.
                        </p>
                        <br/>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div>
                        <div class="number"><span>3</span></div>
                        <h4>Place Reviews</h4>
                        <p>Review places you're familiar with.</p>
                        <br/>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <a class="btn btn-primary btn-lg" href="#/login">Login</a>
                    <a href="#signup" class="btn btn-primary  btn-lg">Signup</a>
                </div>
            </div>
        </div>
    </section>

    <section class="top-places">
        <div class="container padding-md">
            <h3 class="text-center padding-sm">Top Reviews</h3>
            <div class="row">
                <div class="col-md-3">
                    <h4 class="text-center">Lagos</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Teamapt NG <span class="badge pull-right">4.3</span></li>
                        <li class="list-group-item">Ikeja City Mall <span class="badge pull-right">4.0</span></li>
                        <li class="list-group-item">Elegusi Beach<span class="badge pull-right">3.7</span></li>
                        <li class="list-group-item">Access Bank<span class="badge pull-right">3.5</span></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h4 class="text-center">Oyo</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Folhope Ltd<span class="badge pull-right">4.8</span></li>
                        <li class="list-group-item">University of Ibadan<span class="badge pull-right">4.3</span></li>
                        <li class="list-group-item">Ventura Mall<span class="badge pull-right">4.0</span></li>
                        <li class="list-group-item">Skye bank Amala Joint<span class="badge pull-right">3.5</span></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h4 class="text-center">Anambra</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Onitsha Market<span class="badge pull-right">4.5</span></li>
                        <li class="list-group-item">Unizik<span class="badge pull-right">4.0</span></li>
                        <li class="list-group-item">NCCF Family House, Akwa<span class="badge pull-right">4.0</span></li>
                        <li class="list-group-item">Anambra State University<span class="badge pull-right">3.7</span></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h4 class="text-center">Kaduna</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Nigerian Breweries<span class="badge pull-right">4.3</span></li>
                        <li class="list-group-item">Kaduna Market <span class="badge pull-right">4.0</span></li>
                        <li class="list-group-item">Access Bank<span class="badge pull-right">3.7</span></li>
                        <li class="list-group-item">FirstBank<span class="badge pull-right">3.5</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="social-integration" ng-hide="true">
        <div class="container padding-lg">
            <div class="row">
                 <div class="col-md-6">
                        <button class="btn btn-primary">Facebook Like</button>
                        <button class="btn btn-info">Twitter Tweet</button>
                </div>
                <div class="col-md-6">
                    Facebook Comments.....
                </div>
            </div>
        </div>
    </section>

    <div ng-include="'public/partials/footer.html'"></div>
</div>