<div ng-include="'partials/header.html'"></div>
<div class="login">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 bg-grey col-md-offset-4 padding-md">
                <h3 class="text-center text-secondary-color">Login</h3>
                <hr style="color:#000">
                <div ng-controller="SignInController">
                    <div ng-show="invalidLogin" class="alert unhide alert-danger fade in" id="signInAlert">
                        <p>{{errorMessage}}</p>
                    </div>
                    <form name="signInForm" novalidate>
                            <div class="form-group has-feedback"
                                 ng-class="{'has-error' : signInForm.username.$touched && signInForm.username.$invalid, 'has-success' : signInForm.username.$touched && signInForm.username.$valid}">
                                <label for="signin.username" class="">Username</label>

                                    <input autocomplete="false" value="" name="username" ng-required="true"
                                           ng-minlength="4" ng-maxlength="20" type="text" class="form-control"
                                           id="signin.username" placeholder="Username" ng-model="user.username">

                                    <div ng-show="signInForm.username.$touched">
                                        <span class="glyphicon glyphicon-remove form-control-feedback"
                                              aria-hidden="true"
                                              ng-show="signInForm.username.$invalid"></span>
                                        <span class="sr-only">(success)</span>
                                        <span class="help-block"
                                              ng-show="signInForm.username.$error.required">UserName cannot be empty</span>
                                        <span class="help-block"
                                              ng-show="signInForm.username.$error.minlength">UserName must be more than 5 characters</span>
                                        <span class="help-block"
                                              ng-show="signInForm.username.$error.maxlength">UserName must not exceed 20 characters</span>
                                    </div>
                            </div>
                            <div class="form-group has-feedback"
                                 ng-class="{'has-error' : signInForm.password.$touched && signInForm.password.$invalid, 'has-success' : signInForm.password.$touched && signInForm.password.$valid}">
                                <label for="signin.password" class="">Password</label>

                                    <input autocomplete="false" value="" name="password" ng-required="true"
                                           ng-minlength="8" ng-maxlength="20" type="password"
                                           class="form-control" id="signin.password" placeholder="Password"
                                           ng-model="user.password">

                                    <div ng-show="signInForm.password.$touched">
                                        <span class="glyphicon glyphicon-remove form-control-feedback"
                                              aria-hidden="true"
                                              ng-show="signInForm.password.$invalid"></span>
                                        <span class="sr-only">(success)</span>
                                        <span class="help-block"
                                              ng-show="signInForm.password.$error.required">Password cannot be empty</span>
                                        <span class="help-block"
                                              ng-show="signInForm.password.$error.minlength">Password must be more than 5 characters</span>
                                        <span class="help-block"
                                              ng-show="signInForm.password.$error.maxlength">Password must not exceed 20 characters</span>
                                    </div>

                            </div>

                        <button type="button" class="btn btn-primary btn-block" ng-disabled="signInForm.$invalid"
                                id="signIn-btn" ng-click="signIn()" ladda="signInLoading" data-style="expand-right">Sign In
                        </button>
                    </form>
                    <br/>
                    <div>
                        Forgot your password? Click <a href="" ng-click="forgotPassword()">Here</a>
                        <a class="pull-right" href="#signup" data-style="expand-right">Sign Up</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div ng-include="'partials/footer.html'" class="navbar-fixed-bottom"></div>
</div>
