<div ng-include="'partials/header.html'"></div>
  <div class="login">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 bg-grey col-md-offset-3 padding-md">
                <h3 class="text-center text-secondary-color">Signup</h3>
                <hr style="color:#000">
                <div ng-controller="SignUpController">
                    <div ng-show="invalidLogin" class="alert unhide alert-danger fade in" id="signInAlert">
                        <p>{{errorMessage}}</p>
                    </div>
                    <form name="signUpForm" class="signup-form" novalidate>
                        <div ng-show="failedSignUp" class="alert alert-danger fade in unhide" id="signupfailurealert">
                            <p>{{errorMessage}}</p>
                        </div>

                        <div class="row">
                           <div class="col-md-6">
                              <div class="form-group has-feedback"
                                 ng-class="{'has-error' : signUpForm.email.$touched && signUpForm.email.$invalid, 'has-success' : signUpForm.email.$touched && signUpForm.email.$valid}">
                                <label for="signup.email" class="pull-left">
                                    Email Address
                                </label>
                                <input name="email" type="email" ng-required="true" required="true"
                                       class="form-control" id="signup.email"
                                       ng-class="{'form-control-error' : signUpForm.email.$touched && signUpForm.email.$invalid, 'form-control-success' : signUpForm.email.$touched && signUpForm.email.$valid}"
                                       placeholder="Email Address" ng-model="newUser.email">

                                <div class="form-control-feedback" ng-show="signUpForm.email.$touched">
                                            <span class="glyphicon glyphicon-ok "
                                                  aria-hidden="true"
                                                  ng-show="signUpForm.email.$valid"></span>
                                    <span class="glyphicon glyphicon-remove "
                                          aria-hidden="true"
                                          ng-show="signUpForm.email.$invalid"></span>
                                    <span class="sr-only">(success)</span>
                                </div>
                              <div class="text-sm text-danger form-input-msg"  ng-show="signUpForm.email.$touched && signupForm.email.$invalid">
                                  <span ng-show="signUpForm.email.$error.required && signupForm.email.$pristine">Email cannot be empty</span>
                                  <span ng-show="signUpForm.email.$error.email">Invalid Email</span>
                              </div>
                              </div>
                           </div>

                           <div class="col-md-6">
                            <div class="form-group has-feedback"
                                 ng-class="{'has-error' : signUpForm.username.$touched && signUpForm.username.$invalid, 'has-success' : signUpForm.username.$touched &&  signUpForm.username.$valid}">
                                <label for="signup.username" class="">Username</label>
                                    <input name="username" ng-required="true" ng-minlength="5" ng-maxlength="20"
                                           type="text" class="form-control" id="signup.username"
                                           ng-class="{'form-control-error' : signUpForm.username.$touched && signUpForm.username.$invalid, 'form-control-success' : signUpForm.username.$touched &&  signUpForm.username.$valid}"
                                           placeholder="Username" ng-model="newUser.username">

                                    <div ng-show="signUpForm.username.$touched" class="form-control-feedback">
                                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.username.$valid"></span>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"
                                              aria-hidden="true"
                                              ng-show="signUpForm.username.$invalid"></span>
                                        <span class="sr-only">(success)</span>
                                    </div>
                                    <div class="text-sm text-danger form-input-msg" ng-show="signUpForm.username.$touched && signUpForm.username.$invalid">
                                        <span ng-show="signUpForm.username.$error.required">UserName cannot be empty</span>
                                        <span ng-show="signUpForm.username.$error.minlength">UserName must be more than 5 characters</span>
                                        <span ng-show="signUpForm.username.$error.maxlength">UserName must not exceed 20 characters</span>
                                    </div>
                            </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                             <div class="form-group has-feedback"
                                 ng-class="{'has-error' : signUpForm.password.$touched && signUpForm.password.$invalid, 'has-success' : signUpForm.password.$touched && signUpForm.password.$valid}">
                                <label for="signup.password" class="">Password</label>

                                    <input name="password" ng-required="true" ng-minlength="8" ng-maxlength="20"
                                           type="password" class="form-control" id="signup.password"
                                           ng-class="{'form-control-error' : signUpForm.password.$touched && signUpForm.password.$invalid, 'form-control-success' : signUpForm.password.$touched && signUpForm.password.$valid}"
                                           placeholder="Password" ng-model="newUser.password">

                                    <div ng-show="signUpForm.password.$touched" class=" form-control-feedback">
                                        <span class="glyphicon glyphicon-ok"
                                          aria-hidden="true" ng-show="signUpForm.password.$valid"></span>
                                        <span class="glyphicon glyphicon-remove"
                                              aria-hidden="true"
                                              ng-show="signUpForm.password.$invalid"></span>
                                        <span class="sr-only">(success)</span>
                                    </div>
                                    <div class="text-sm text-muted text-danger form-input-msg" ng-show="signUpForm.password.$touched && signUpForm.password.$invalid">
                                        <span ng-show="signUpForm.password.$error.required">Password cannot be empty</span>
                                        <span ng-show="signUpForm.password.$error.minlength">Password must be more than 5 characters</span>
                                        <span ng-show="signUpForm.password.$error.maxlength">Password must not exceed 20 characters</span>
                                    </div>
                            </div>
                           </div>

                           <div class="col-md-6">
                              <div class="form-group has-feedback"
                                 ng-class="{'has-error' : signUpForm.confirmPassword.$touched && signUpForm.confirmPassword.$invalid, 'has-success' : signUpForm.confirmPassword.$touched && signUpForm.confirmPassword.$valid}">
                                <label for="signup.confirmPassword" class="">Confirm Password</label>

                                <div class="">
                                    <input name="confirmPassword" ng-required="true"
                                           type="password" class="form-control"
                                           id="signup.confirmPassword" placeholder="Confirm Password"
                                           ng-minlength="8" ng-maxlength="20" ng-model="newUser.confirmPassword"
                                           ng-class="{'form-control-error' : signUpForm.confirmPassword.$touched && signUpForm.confirmPassword.$invalid, 'form-control-success' : signUpForm.confirmPassword.$touched && signUpForm.confirmPassword.$valid}"
                                           confirm-password="newUser.password">

                                    <div ng-show="signUpForm.confirmPassword.$touched">
                                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.confirmPassword.$valid">
                                                </span>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"
                                              aria-hidden="true"
                                              ng-show="signUpForm.confirmPassword.$invalid">
                                                </span>
                                        <span class="sr-only">(success)</span>
                                    </div>
                                    <div class="text-muted text-danger form-input-msg text-sm"  ng-show="signUpForm.confirmPassword.$invalid && signUpForm.confirmPassword.$touched">
                                        <span ng-show="signUpForm.confirmPassword.$error.required">Password cannot be empty</span>
                                        <span ng-show="signUpForm.confirmPassword.$error.minlength">Password must be more than 5 characters</span>
                                        <span ng-show="signUpForm.confirmPassword.$error.maxlength">Password must not exceed 20 characters</span>
                                        <span ng-show="signUpForm.confirmPassword.$error.confirmPassword">Password does not match</span>
                                    </div>
                                </div>
                            </div>
                           </div>
                        </div>
                        <div class="row">
                           <div ng-form="locationDetails">
                           <div class="col-md-12">
                             <div class="form-group">
                                    <label for="signup.state">State</label>
                                    <select name="state" id="signup.state" class="form-control" required="true">
                                        <option value="" selected>Please select a State</option>
                                        <option value="lagos">Lagos</option>
                                        <option value="anambra">Anambra</option>
                                    </select>
                                </div>
                           </div>
                           </div>
                        </div>
                        <div class="">
                          <button type="button" class="btn btn-primary" ng-disabled="signUpForm.$invalid"
                                  id="signup-btn" ng-click="signUp()" ladda="signUpLoading" data-style="expand-right">Sign Up
                          </button>
                          <span class="pull-right">
                               Already registered?
                            <a class="" href="#/login">Login</a>
                        </span>
                        </div>
                        <br/>
                    </form>

                    <div>
                       
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="navbar-fixed-bottom" ng-include="'partials/footer.html'"></div>
</div>
